
.container-highlight {padding: 0 0 100px; box-sizing: border-box;}
.artist-profile { display: flex; justify-content: center; gap: 5px; margin-bottom: 20px;  }
.artist-profile img {width: 86px; height: 86px;}
.card-section { position: relative; width: 100%; max-width: 500px; padding: 0 16px;}
.card-bg { width: 100%; border-radius: 16px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }
.heart-letter { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 220px; z-index: 2; }
.send-btn {font-size: 16px; width: 130px; height: 37px; position: absolute; bottom: 45px; left: 50%; transform: translateX(-50%); background-color: #FFD700; color: #000; border: none; border-radius: 20px; font-weight: 500; cursor: pointer; z-index: 2; }
.notice-box { margin: 24px 16px; background: #f8f8f8; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); border-radius: 12px; padding: 16px; font-size: 17px; line-height: 1.6; font-weight: 500; }
.notice-box p:nth-child(1) {margin-bottom: 10px; border-bottom: 1px solid #797979; padding-bottom: 12px;}

.notice-icon { width: 20px;  height: 20px; margin-right: 6px; vertical-align: middle;}

.vote-banner { position: relative; border-radius: 16px; overflow: hidden; cursor: pointer; margin-bottom: 24px; }
.vote-banner img { width: 100%; display: block; }
.vote-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; color: #fff; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); display: flex; flex-direction: column; justify-content: space-between; }
.vote-badge { display: inline-block; position: absolute; top: 45px; left: 33px; background-color: #595959; padding: 5px 8px; border-radius: 15px; font-size: 14px; font-weight: 600; width: 70px; height: 27px; overflow: hidden; white-space: nowrap; appearance: none; -moz-appearance: none; -webkit-appearance: none; color: #FFD700; }
.vote-message { position: absolute; top: 78px; left: 37px; font-size: 20px; font-weight: 400; line-height: 1.2; }
.vote-go { align-self: flex-end; font-size: 18px; font-weight: 500; position: absolute; bottom: 39px; right: 33px; }


.feed-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 8px; }
.profile-info { display: flex; align-items: center; gap: 10px; }
.profile-img { width: 50px; height: 50px; border-radius: 50%; object-fit: cover; }
.nickname { font-weight: 600; font-size: 18px; }
.badge { font-size: 12px; color: gold; }
.bookmark-btn { background: none; border: none; font-size: 18px; cursor: pointer; }
.feed-text { font-size: 18px; margin: 8px 0 10px; line-height: 1.2; font-weight: 500; white-space: pre-line; }
.post-footer { display: flex; justify-content: flex-end; }
.like-counts { display: flex; gap: 12px; font-size: 18px; font-weight: 500; }
.feed-images { display: flex; gap: 8px; }
.feed-images img { flex: 1; width: calc(50% - 4px); border-radius: 12px; object-fit: cover; }
.live-replay { background: #fff; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); border-radius: 12px; padding: 16px; margin: 24px 16px; }


.live-title { font-size: 18px; font-weight: 600; margin-bottom: 12px; }
.live-red { color: red; font-weight: bold; }
.live-thumbnail { width: 100%; border-radius: 12px; margin-bottom: 16px; }
.live-header { display: flex; flex-direction: column; }
.live-desc { font-size: 17px; font-weight: 500; line-height: 1.2; margin-left: 60px; }

.icon-small {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    vertical-align: middle;
  }


  /* 컴패티 */
  .send-text {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
    font-size: 18px;
    animation: fadeOut 2s forwards;
    pointer-events: none;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(-10px);
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
    }
  }
  

/* 다크모드 */
.dark .vote-badge {color: #FFD700;}
.dark .notice-box {background: #212121;}
.dark .live-replay {background: #212121;}