.login-container {display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; overflow: hidden; background: #F3B643;}

.login-image {height: auto; margin-bottom: 20px;}
.login-title {font-size: 30px; font-weight: 500; color: #fff; text-align: center; margin-bottom: 0;}
.login-subtitle {font-size: 18px; color: #fff; text-align: center; margin: 10px 0 35px 0;}
.btn-wrap {position: relative; width: 100%; left: 55%; top: 10%; transform: translate(-50%, -20%);}
.badge {position: absolute; top: -50px; right: 10%;}

/* 버튼 스타일 */
.login-btn {width: 90%; padding: 16px; margin-bottom: 10px; border-radius: 15px; border: none; font-weight: 500; font-size: 20px; cursor: pointer; display: flex; align-items: center; justify-content: center; gap: 15px; color: #5b5b5b;}
.login-btn.kakao {background-color: #FEE500; color: #000; gap: 5px;}
.login-btn.google {background-color: #fff; color: #000; border: 1px solid #ddd;}
.login-btn.apple {background-color: #000; color: #fff;}
.login-btn .img.kakao {width: 36px; height: 36px;}
.login-btn .img.google {width: 30px; height: 30px;}
.login-btn .img.apple {width: 24px; height: 30px;}
.login-btn .img img {width: 100%; height: 100%;}
.btn-icon {width: 24px; height: 24px;}
