.home-page {
    padding: 20px;
  }
  
  .home-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* 아이돌홈 */
  .main-idol-final {
    width: 100%;
    max-width: 500px; /* 필요 시 조절 */
    height: auto;
    display: block;
    margin: 0 auto;
  }

   /* 트로트홈 */
  .main-trot-final {
    width: 100%;
    max-width: 500px; /* 필요 시 조절 */
    height: auto;
    display: block;
    margin: 0 auto;
  }

     /* 액터홈 */
     .main-actor-final {
      width: 100%;
      max-width: 500px; /* 필요 시 조절 */
      height: auto;
      display: block;
      margin: 0 auto;
    }