.collection-container{padding: 20px 16px; box-sizing: border-box; padding-bottom: 50px; max-width: 400px; margin: 0 auto; background: #ffff;}
.dark .collection-container{background-color: #121212;}
.collection-grid {display: grid;grid-template-columns: repeat(2, 1fr); gap: 16px; margin-bottom: 35px;}
.collection-grid:last-of-type {margin-bottom: 0;}
.collection-item {position: relative;}
.collection-item img {width: 100%;border-radius: 13px;object-fit: cover;}
.title {font-weight: 500; margin-top: 5px; font-size: 15px;}
.collection-count{ font-size: 13px; margin: 0;}
.subtitle {font-size: 18px;font-weight: 600; margin-bottom: 13px;}
.Collection-overlay-text {position: absolute;top: 50%; left: 50%; transform: translate(-50%,-50%);
color: white; font-weight: 500; font-size: 14px;}


/* 다크모드 */
.dark .collection-count{color: #8F8F8F;}