/* Section.css */
section {
    padding: 50px;
    margin-bottom: 20px; background: #ddd;
  }
  
  .section-main-button {
    font-size: 18px;
    padding: 15px;
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  .section-sub-buttons {
    margin-top: 8px;
    padding-left: 15px;
  }
  
  .section-sub-button {
    display: block;
    padding: 10px 15px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    text-align: left;
  }
  