.chat-page { padding: 16px;}
.chat-slider-wrapper { margin-bottom: 16px; }
.chat-slide { position: relative; height: 160px; border-radius: 16px; overflow: hidden; }
.slide-img { width: 100%; height: 100%; object-fit: cover; filter: brightness(70%); }
.slide-text { position: absolute; bottom: 18px; left: 20px; color: white; z-index: 2; font-size: 22px; font-weight: 400; }
.slide-text h3 { font-weight: normal; }
.slide-index { position: absolute; bottom: 10px; right: 12px; background: rgba(0, 0, 0, 0.3); padding: 2px 8px; font-size: 13px; border-radius: 12px; color: white; }

.profile-slider-box { background: #fff; border-radius: 20px; padding: 16px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); margin-bottom: 20px; }



.section-title { font-size: 20px; font-weight: 500; margin-bottom: 12px; padding-left: 6px; color: #333; }

.profile-slider { display: flex; gap: 50px; justify-content: center; }

.profile-item { display: flex; flex-direction: column; align-items: center; width: 60px; position: relative; }

.profile-img-wrap { position: relative; width: 60px; height: 60px; }

.profile-img-wrap img { width: 100%; height: 100%; border-radius: 50%; object-fit: cover; }

.red-dot { position: absolute; top: 2px; right: 2px; width: 6px; height: 6px; background-color: red; border-radius: 50%; }

.profile-name { margin-top: 6px; font-size: 17px; font-weight: 600; color: #5b5b5b; text-align: center; }

.recommend-list { margin-top: 12px; margin-bottom: 150px; padding: 16px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); border: 15px; border-radius: 15px;}

.search-box { display: flex; align-items: center; padding: 16px; border-radius: 40px; background: #fff; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); margin: 16px 0; }

.search-box img { width: 16px; height: 16px; margin-right: 10px; }

.search-box input { border: none; outline: none; font-size: 16px; color: #333; flex: 1; background: transparent; }

.check-icon { width: 15px !important; height: 15px !important; object-fit: contain; margin-left: 8px; }

.artist-item { display: flex; align-items: center; margin-bottom: 16px; }

.artist-img2 { width: 48px; height: 48px; border-radius: 50%; object-fit: cover; margin-right: 1px; }

.artist-img img { width: 100%; height: 100%; }

.artist-info { flex: 1; margin-left: 10px;}

.artist-name2 { font-weight: 500; font-size: 20px; display: flex; align-items: center;}

.artist-en { font-size: 14px; }

.artist-time { font-size: 12px; }


/* 다크모드 */
.dark .profile-slider-box {background: #212121;}
.dark .profile-name {font-weight: 500;}
.dark .search-box {background: #212121;}
.dark .search-box input {color: #fff;}
.dark .search-box input::placeholder {color: #fff;}
.dark .artist-name2 {font-weight: 400;}
.dark .artist-time {color: #8F8F8F;}
.dark .recommend-list {background: #212121;}