.trot {font-size: 18px; }
.trot .videoSection p {font-size: 18px;}
.trot .button2 {font-size: 16px;}

.mypageSection.trot .left p {font-size: 18px;}
.trot-commentInputWrap { display: flex; align-items: center; gap: 8px; margin-top: 10px; padding: 8px 10px; border: 1px solid #AE74FF; border-radius: 25px; }


.liveImg {
    width: 209px;
    height: 300px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
  }
  
  .liveImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(90%);
    border-radius: 12px;
  }
  
  
  .swiper-slide.live-slide {
    width: 209px !important; /* SwiperSlide 고정 */
    flex-shrink: 0;
  }




.trot-commentInputWrap input {flex: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background: #fff;
    font-size: 14px;
}

.trot-commentInputWrap button { padding: 6px 16px; background: #AE74FF; color: #ffffff; font-weight: 500; border: none; border-radius: 20px; cursor: pointer; }
.artistButtons button.button2 {width: 30%; background: none; border: none; padding: 0 3px; cursor: pointer;}
.voteCard .trot-vote-tit:after {display: none;}

.liveTextBox .trot-artist { font-size: 16px; margin-bottom: 2px; }
.liveTextBox .trot-title { font-size: 18px; font-weight: 500; }

.liveBadge3 { position: absolute; top: 16px; left: 16px; background-color: #fff; color: #AE74FF; font-size: 14px; font-weight: 500; padding: 2px 8px 2px 12px; border-radius: 10px;}
.liveBadge3::before {content: ''; position: absolute; background: red; width: 4px; height: 4px; border-radius: 50%; left: 12%; top: 50%; transform: translate(-8%, -50%);}

.trot-nickname {font-size: 18px;}
.voteCard .trot-vote-tit {position: absolute; left: 20px; bottom: 60px; color: #AE74FF; font-size: 14px; padding: 3px 6px; background: #fff; border-radius: 50px; font-weight: 500; z-index: 2;}
.trot-voteText {position: absolute; bottom: 10px; left: 10px; color: #fff;}
.trot-voteText span {display: block; font-size: 17px; font-weight: 500; margin-top: -40px; margin-left: 8px;}



.trot-membershipOverlay {position: absolute; top: 50%; left: 25px; transform: translateY(-50%); width: 100%; height: auto; display: flex; flex-direction: column; border-radius: 12px; overflow: visible; z-index: 2;}
.trot-membershipOverlay h2 {color: #fff; font-size: 20px; font-weight: 500; margin: 0; line-height: 1.1; margin-bottom: 10px;}
.trot-membershipOverlay .trot-group { color: #fff; font-size: 14px; margin-bottom: 5px; display: inline-block;}

.trot-membershipOverlay .trot-desc {color: #fff; font-size: 16px; margin-top: 5px; line-height: 1.1;}

.trot-indicator {position: absolute; bottom: 8px; right: 10%; background: rgba(0,0,0,0.5); color: #fff; border-radius: 12px; font-size: 12px; padding: 2px 6px;}
.trot-indicator .current {font-weight: bold;}
.trot-indicator .total { margin-left: 2px;}

.dark .liveBadge3 {color: #AE74FF;}
.dark .trot-vote-tit {color: #AE74FF;}
