.home-yellow-btn {
    background-color: #FFD700;
    color: #494949; font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 277px; height: 50px;
  }