.ButtonContainer {display: flex; position: relative; align-items: center; height: 50px;}
.header-title {position: absolute; left: 50%; transform: translateX(-50%); font-size: 22px;}
.ButtonContainer button { border: none; background: none; font-size: 20px; cursor: pointer; }

.ButtonContainer span { font-size: 18px; font-weight: 600; color: #5B5B5B;}
 .back-arrow {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow svg {
  width: 30px;
  height: 30px;
  margin-left: -9px;
}



.ButtonContainer {
  display: flex;
  align-items: baseline;
  height: 50px;
  width: 100%;      /* ✅ .container의 padding 내부까지 확장 */
  box-sizing: border-box;
}


/* 마이컬렉션 + */



/* 최근 본 미디어 '편집 */
.right-action {position: absolute; right: 16px; top: 50%; transform: translateY(-50%);
font-size: 16px; font-weight: 500; cursor: pointer; background: none; border: none;}


.back-arrow {
  position: relative; /* 기준점 설정 */
}

/* 빨간 점 표시 */
.back-arrow::after {
  content: '';
  position: absolute;
  top: -1px;
  right: 0px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}


/* 다크모드 */