

.blue-btn {
    background-color: #37CEBF;
    color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 277px; height: 50px;
  }
  
  .back-arrow {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow svg {
  width: 24px;
  height: 24px;
}


.ButtonContainer {
  display: flex;
  align-items: baseline;
  height: 50px;
  width: 100%;      /* ✅ .container의 padding 내부까지 확장 */
  box-sizing: border-box;
}