.fashion-section {
  margin-bottom: 32px;
}

.card-scroll {
  display: flex;
  gap: 12px;
    -webkit-overflow-scrolling: touch;
   overflow-x: auto;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}
