.fashion-card { position: relative; min-width: 408px;}
.image-container { position: relative; overflow: hidden; border-radius: 25px;}
.card-image { filter: brightness(80%);}
.product-tag {
    background: rgba(243, 182, 67, 0.5);
    color: #fff;
    width: fit-content;
    min-width: 154px;
    height: 43px;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    z-index: 2;}
.tag-text { font-size: 12px; color: #333; font-weight: 500; line-height: 1.2; }
.card-overlay { position: absolute; bottom: 36px; left: 12px; color: #fff;}
.card-date { font-size: 17px; margin-bottom: 4px; }
.card-title { font-size: 30px; font-weight: 600; white-space: pre-line; }
.card-index { position: absolute; bottom: 9%; right: 12px; font-size: 15px; color: #fff; background-color: rgba(0,0,0,0.3); padding: 3px 17px; border-radius: 50px; }

.sub-product-wrap { margin-top: 16px; }
.sub-title { font-size: 18px; font-weight: 500;margin-bottom: 10px; }
.sub-product { display: flex; align-items: center; justify-content: space-between; gap: 17px; }
.sub-image-thumb {width: 100px; height: auto; border-radius: 4px; object-fit: cover; }
.sub-info { flex: 1; display: flex; flex-direction: column; gap: 2px; }
.sub-name { font-size: 18px; font-weight: 600; color: #595959; }
.sub-detail { font-size: 14px; color: #797979; margin-bottom: 8px;}
.sub-price { font-size: 17px; font-weight: 500; color: #595959; }
.sub-review { font-size: 14px; color: #797979; }
.bookmark-btn { background: none; border: none; font-size: 20px; cursor: pointer; padding-bottom: 50px; color: #333;}

/* 다크모드 */
.dark .sub-name {font-weight: 400; color: #fff;}
.dark .sub-title {font-weight: 400;}
.dark .sub-detail{font-weight: 400; color: #797979;}
.dark .sub-price{color: #fff;}
.dark .sub-review{color: #797979;}
.dark .sub-price {font-weight: 400;}