.home-yellow-btn {
    background-color: #FFD700;
    color: #494949; font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 277px; height: 50px;
    position: relative;
  }

  .home-yellow-btn::after{
    content: '';
    position: absolute;
    top: 15px;
    right: 87px;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
  }