
.nav-container {position: fixed;left: 50%; bottom: -1px; transform: translateX(-50%); width: 100%; height: 80px; background-color: var(--nav-bg, #fff);  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
z-index: 999; display: flex; justify-content: center; align-items: center;border-radius: 0;}
.nav-content {display: flex; align-items: center; gap: 30px; position: relative;}
.nav-link {display: flex; flex-direction: column; align-items: center; color: #000; text-decoration: none; transition: all 0.3s; width: 60px}
.nav-link span {font-size: 14px; margin-top: 5px;}
.nav-main-button  {border: none; background: orange; border-radius: 50%; width: 70px; height: 70px; color: #fff;  font-size: 14px; cursor: pointer;  position: relative; z-index: 2; transition: all 0.3s;  box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.15); }
.sub-buttons button {background: #333; color: #fff; border-radius: 20px; border: none; padding: 10px 14px; cursor: pointer; transition: background 0.3s; font-size: 14px;}


/* Live 페이지에서는 네비게이션 안 보이게 */
body.live-page .nav-container {display: none !important;}


/* 각 네비 아이템 */
.nav-link {display: flex;flex-direction: column; align-items: center; font-size: 12px; font-weight: 550;
text-decoration: none;}

/* 아이콘 이미지 */
.nav-icon {width: 28px; height: 28px;margin-bottom: 4px;}
.active-text {color: orange;}

/* 하단 서브 버튼 */
.sub-buttons {position: absolute; bottom: 130%; left: 50%;transform: translateX(-50%);border-radius: 10px;display: flex;gap: 10px;z-index: 10;}
.sub-buttons button{ background: #797979; }


/* 테마별 색상 적용 */
.nav-main-button.idol {background-color: #FFA500;}
.nav-main-button.actor {background-color: #37CEBF}
.nav-main-button.trot {background-color: #AE74FF}


.nav-text.idol {color: orange;}
.nav-text.actor {color: #37CEBF;}
.nav-text.trot {color: #AE74FF;}



/* 다크모드 */
.dark .nav-link {color: #fff;}
.dark .nav-text.idol {color: orange;}
.dark .nav-text.actor {color: #37CEBF;}
.dark .nav-text.trot {color: #AE74FF;}
.dark .nav-container{background-color: #151515;}
