.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popUp {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  max-width: 100%;
  width: 363px;
  height: 389px;
  overflow: visible;
}

.modalImage {
  width: 287px;
  margin-bottom: 20px;
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.modalTextWrap {
  padding-top: 200px;
}

/* 공통 버튼 스타일 */
.modalTextWrap button {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FFD400;
  width: 281px;
  height: 61px;
}

/* ===================== 타입별 스타일 ===================== */

/* 퀴즈 팝업 (기존 색상 유지) */
.popUp.quiz .modalTextWrap h3 {
  color: #FFD400;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 10px;
}

.popUp.quiz .modalTextWrap p.sub-color {
  font-size: 17px;
  font-weight: 500;
  }

.popUp.quiz .modalTextWrap button {
  background-color: #FFD700;
  color: #595959;

}

/* 투표 팝업 */
.popUp.vote .modalTextWrap h3 {
  color: #FFD400;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.popUp.vote .modalTextWrap p.sub-color {
  font-size: 17px;
  color: #797979;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.popUp.vote .modalTextWrap button {
  background-color: #FFD400;
  color: #595959;

}

/* 해지 팝업 */
.popUp.unsubscribe .modalTextWrap h3 {
  color: #FFB800;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.popUp.unsubscribe .modalTextWrap p {
  font-size: 17px;
  color: #797979;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.popUp.unsubscribe .modalTextWrap button {
  background-color: #FFD400;
  color: #595959;

}

/* 출석체크 */
.popUp.attendance .modalTextWrap h3 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 10px;
}

.popUp.attendance .modalTextWrap p {
  font-size: 17px;
  color: #797979;
  font-weight: 500;
  letter-spacing: -0.5px;
}

/* 다크모드 */
.dark .popUp {background-color: #212121;}


