.quiz-section {background: #fff; border-radius: 12px; text-align: center; box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15); }

.quiz-content { display: flex; align-items: center; justify-content: space-between; }

.quiz-left { text-align: left;}

.quiz-left h3 { font-size: 20px; font-weight: bold; color: #333; line-height: 1.2; margin-bottom: 8px; }

.highlight { color: #f5b000; }

.timer { display: flex; align-items: center; font-size: 14px; color: #888; }

.timer img {width: 16px; height: 16px; margin-right: 4px; animation: ticktock 0.5s infinite ease-in-out; transform-origin: center center;}

.time-box {display: inline-block; width: 65px; margin-right: 4px;}

.timer .time { color: #f5b000; font-weight: bold; font-size: 16px; }

.quiz-right img { width: 35vw; height: 35vw;}

.quiz-button { margin-top: 20px; }


@keyframes ticktock {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(15deg); }
    50%  { transform: rotate(0deg); }
    75%  { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}



@media (min-width: 500px) {
    .quiz-left h3 {font-size: 30px;}
    .timer {font-size: 18px;}
    .time-box {min-width: 80px;}
    .timer .time {font-size: 18px;}
}
@media (min-width: 768px) {
    .quiz-left h3 {font-size: 40px;}
    .timer {font-size: 20px;}
    .time-box {min-width: 90px;}
    .timer .time {font-size: 20px;}
}

.dark .highlight {color: #f5b000;}
.dark .timer span {display: block;}
.dark .timer img {display: block;}
.dark .timer {color: #797979;}
