
.quiz-content { display: flex; align-items: center; justify-content: space-between; }



.trot-highlight { color: #AE74FF; }


.timer .trot-time { color: #AE74FF; font-weight: bold; margin-right: 4px; font-size: 18px; }


.quiz-button { margin-top: 20px;}
