.yellow-btn { position: relative;
  background-color: #FFD700;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 90%;
  
}

.yellow-btn:hover {
  background-color: #ffcc00;
}
.yellow-btn:before {  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;}